html {
	overflow-y: scroll;
}

body {
	padding-top: 100px;
	background-color: #E9E7E4;
	padding-right: 0 !important;
}

.headMenuXKeepRow {
	position: fixed;
	z-index: 100;
	margin-top: -100px;
	width: 100%;
	background-color: #99CBFF;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 10px;
}

.headMenuXKeep{
	height: 100px;
}

.menuButton{
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 3px;

	margin-top: -20px;
}


.leftMenuXKeep{
	background-color: #E9E7E4;
	height: 900px;
	//border: 1px solid red;
	position: fixed !important;
	z-index: 100;
	overflow-x: hidden;
    overflow-y: auto;
}

.buttonCreateNote {
	font-size: 20px;
}

.allLeftButton {
	margin-top: 15px;
	margin-left: 10px;
	padding-left: 0px;
}




.nameButtonLeftMenu {
	padding-left: 8px;
	padding-right: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
}

.colorSelect {
	margin-left: 10px;
}


.areaForAllNote{
	background-color: #E9E7E4;
	height: 900px;
}



.mainMenuBurger{
	//background-color: #99CBFF;
	padding-left: 20px;
	//border: 1px solid red;
}

.showSelectedFolder{
	//background-color: #99CBFF;
	//border: 1px solid red;
}

.showLogo{
	//background-color: #99CBFF;
	text-align: center;
	//border: 1px solid red;
}

.showUserName{
	//background-color: #99CBFF;
	text-align: right;
	padding-right: 20px;
	//border: 1px solid red;
}

.mainXKeep {
	padding-top: 80px;
}

.createNewNote{
	background-color: #E9E7E4;
	height: 80px;
	/* border: 1px solid red; */
	position: fixed !important;
	z-index: 100;
	margin-top: -80px;
	padding-top: 20px;
	text-align: center;
}

.positionButtonCreateNote {
	text-align: center;
}

.buttonCreateNewNote {
	font-size: 30px !important;
	border: 1.4px solid #505050;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 5px;
}



.divForAreaNote{
	background-color: #E9E7E4;
	height: 200px;
	padding: 0;
}

.divForVisibleNote {
	height: 185px;
	width: 324px;
	margin: 10px auto;
	padding: 8px;
	padding-top: 0px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.divForVisibleNote:hover {
	border: 2px solid #808080;
	box-shadow: 0 0 15px rgba(0,0,0,0.8);
}

.divHeaderNote {
	font-size: 24px;
	height: 35px;
}

.divTextNote {
	word-wrap: break-word;
	height: 100px;
	font-size: 16px;
}

.divButtonNote {
	height: 40px;
	width: 330px;
	opacity: 0;
	transition: opacity 200ms ease-out;

}

.divButtonNote:hover {
	opacity: 1;
}




.borderForModalWindow {
	border: 2px solid #808080;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.8);

}




.windowNewNote {
	margin-top: 90px;
}

.windowQuitXkeep{
	margin-top: 90px;
}



.windowTotalBurgerMenu {
	margin-top: 100px !important;
	margin-left: 0px !important;
	border-radius: 6px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.windowsModalBurgerMenu {
	border-radius: 6px !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.windowBurgerMenu {
	width: 320px !important;
	margin-top: 0px !important;
	margin-left: 0px !important;
	border-radius: 6px !important;
	padding-left: 20px !important;
}







.colorBox {
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 23px;
	padding-bottom: 23px;

	margin-top: 15px;
	margin-right: 15px;
	font-size: 25px;
	border: 2px solid #505050;
}

.colorBox:hover {
	border: 2px solid #101010;
}

.color1 {
	background: #FAFAFA !important;
}

.color1:hover {
	background: #FAFAFA !important;
}

.color2 {
	background: #FF8A80 !important;
}

.color2:hover {
	background: #FF8A80 !important;
}

.color3 {
	background: #FFD180 !important;
}

.color3:hover {
	background: #FFD180 !important;
}

.color4 {
	background: #FFFF8D !important;
}

.color4:hover {
	background: #FFFF8D !important;
}

.color5 {
	background: #80D8FF !important;
}

.color5:hover {
	background: #80D8FF !important;
}

.color6 {
	background: #A7FFEB !important;
}

.color6:hover {
	background: #A7FFEB !important;
}

.color7 {
	background: #CCFF90 !important;
}

.color7:hover {
	background: #CCFF90 !important;
}

.color8 {
	background: url("../images/colorAll.png");
	background-size: cover;

	//background: #FAFAFA !important;
}

.color8:hover {
	background: url("../images/colorAll.png");
	background-size: cover;

	//background: #FAFAFA !important;
}





.buttonNote {
	margin-top: -10px !important;
}

.bottomEditNote {
	margin-left: 44px !important;
	padding-left: 16px !important;
	padding-right: 16px !important;
}


.buttontop {
	padding-top: 6px !important;
	padding-right: 19px !important;
	padding-bottom: 6px !important;
	padding-left: 19px !important;

	margin-top: -1px !important;
}

.glyphiconUser {
	font-size: 40px;
	color: #FAFAFA;
}

.oneButtonLeftMenu{
	text-align: left !important;
	border: 1.5px solid #505050 !important;
	width: 257px !important;
}

